@media screen and (max-width: 400px) {
  #titleHeader{
    font-size: 23px;
  }
  #sloganHeader{
    font-size: 13px;
  }
}
@media screen and (min-width:400px) and (max-width: 600px) {
  #titleHeader{
    font-size: 25px;
  }
  #sloganHeader{
    font-size: 15px;
  }
}
@media screen and (min-width:600px) and (max-width: 900px) {
  #titleHeader{
    font-size: 32px;
  }
  #sloganHeader{
    font-size: 22px;
  }
}